#projects{
	padding: 20px;
	background-color: #343a40;
}

.card-img-top{
	max-height: 400px;
}

.project-card{
	box-shadow: -5px 10px 50px #212529;
	max-width: 31%;
	margin: 5px auto;
	padding: 5px;
}

.project-gallery{
	padding: 30px 10px;
}

.title-card{
	box-shadow: -5px 10px 50px #212529;
	width: fit-content;
	margin: 0 auto;
}

.section-title{
	margin: 20px 0 0 0;
	color: white;
	font-family: 'Indie Flower', cursive;
	font-weight: 900;
}

.carousel-control-prev, .carousel-control-next{
	background-color: #ffffff90;
	border-radius: 30px;
	width: 50px;
	height: 100px;
	margin: auto 1%;
}

.carousel-inner{
	margin: auto;
	width: 90%;
}

#carouselExampleControls .card-body{
	padding-bottom: 0!important;
}

.mobile_project{
	display: none;
}
@media only screen and (max-width: 768px){
.mobile_project{
	display: block;
}

.project-card{
	max-width: 90%;
	margin-bottom: 30px;
}

.laptop_project{
	display: none;
}

.title-card{
	margin-bottom: 30px;
}
}