#landing{
	height: 100vh;
	width: 100vw;
	background-image: url('/Ressource/img/landing_background.jpg');
	overflow: hidden;
}
.landing-card{
  margin: 0 auto;
  margin-top: 40px;
}
.landing-content{
  height: fit-content;
  width: 100%;
  padding: 30px 0;
}

.landing-image{
  max-height: 500px;
  margin-bottom: 20px;
  max-width: 80%;
}

.name{
	width: fit-content;
	background-color: white;
	margin: 0 auto;
	box-shadow: -5px 10px 50px #212529;
	margin-top: -15px;
	color: #0062cc;
	padding: 7px 40px;
	font-size: 1.5rem;
}

.quote{
	background: rgba(255, 255, 255, 0.7);
	max-width: 600px;
	margin: 20px auto;
	padding: 6px 0;
	font-size: 1rem;
}